h1 {
	text-align: center;
	margin: 0;
	background-color: rgba(255,255,255,0.8)
}

li {
	text-align: left;
}

body {
	background-color: #C9FFCA;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 0;
	margin: 0;
}

main {
	font-family: sans-serif;
	padding-top: 25px;
}

.loading {
	visibility: hidden;
	width: 20px;
	height: 20px;
	margin-left: 10px;
}

.hidden {
	display: none;
}

.faqButton {
	position: fixed;
	right: 10px;
	top: 10px;
	background-color: rgba(255,255,255,0.8)
}

.display {
	width: 100%;
	height: 800px;
	margin-top: 20px;
}

div {
	margin: auto;
	text-align: center;
}

form {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

canvas#chart {
    max-width: 700px !important;
    height: auto !important;
    width: 100% !important;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
}

.faq {
	background-color: rgba(255,255,255,0.8);
	width: 100%;
	height: 800px;
}

.quality-1 {
	background-color: #00e400;
	color: black;
}

.quality-2 {
	background-color: #ffff00;
	color: black;
}

.quality-3 {
	background-color: #ff7e00;
	color: white;
}

.quality-4 {
	background-color: #ff0000;
	color: white;
}

.quality-5 {
	background-color: #99004c;
	color: white;
}

.quality-6 {
	background-color: #7e0023;
	color: white;
}